/* RESET */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1024px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
header{
    min-height: 100px;
    margin: 20px 0;

}
footer{
    min-height: 50px;
    margin:20px;
    text-align: center;
}

ul{
    list-style-type: none;
}
li{
    display: inline-block;
    padding: 20px 10px;
}
a{
    color: grey;
    text-decoration: none;
}

li:nth-child(1){
    padding-left: 0;
}

h2{
    font-size: 30px;
}



 .slider{
     background-image: 
        linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.8)),
        url(../img/banner.jpg);
     min-height: 450px;
     margin-bottom: 20px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     border-radius: 10px;
     padding: 300px 0 40px 30px;
    
 }
.opacity{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
}
 .clearfix::after{
     content: "";
     display: table;
     clear: both;
 }
 .float-digger{
    
    padding-bottom: 15px;
    width: 100%;
    margin-bottom: 5px;
    
 }
 .float-left{
    float: left;
 }

 
 .top-fl{
    min-height: 70px;
    width: 100%;
    margin: 20px 20px;
 }
 .fl-side{
     width: 20%;
     margin: 0;
     
 }
 .fl-middle{
    width: calc(60% - 20px);
    margin: 0 10px;
} 
.column{
    min-height:380px;
}
.menu{
    margin-top: 10px;
}
.slider-text{
    color: white;
    font-size: 30px;
    
}
.undertext{
    font-size: 15px;
}

.box{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 175px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.circle-box{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.grey{
    color: grey;
}

.foot{
    text-align: center;
    display: inline-block;
}
.hand{
    background-image: url(../img/hand.png);
    display: inline-block;
    height: 40px;
    width: 40px;
    background-size: cover;
}
.rtx-side{
    width: 32%;
    margin: 20px 0;
}
.rtx-middle{
    width: calc(36% - 40px);
    margin: 20px 20px;
}
.pig{
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 30px;
    height: 30px;
    vertical-align: middle ;
}
.rtx-foot{
    margin-top: 20px;
    vertical-align: middle;
}
span .undertext{
    
}

/* HOVER SECTION */
.slider:hover{
    background-image: 
    linear-gradient(rgba(255, 253, 253, 0.493), rgba(143,0,255,0.8)),
    url(../img/banner.jpg);
}
#img1:hover{
    background-image: 
    linear-gradient(rgba(255, 253, 253, 0.493), rgba(143,0,255,0.8)),
    url(../img/img-1.jpg);
}
#img2:hover{
    background-image: 
    linear-gradient(rgba(255, 253, 253, 0.493), rgba(143,0,255,0.8)),
    url(../img/banner-2.jpg);
}
#img3:hover{
    background-image: 
    linear-gradient(rgba(255, 253, 253, 0.493), rgba(143,0,255,0.8)),
    url(../img/img-3.jpg);
}
a:hover{
    color: black;
    font-weight: 600;
}
#logo-image{
    height: 80px;
    padding-top: 20px;
}
#rtx-img1:hover{
    background-image:url(../img/3090.png);
    background-size: 200px;
    
}
#rtx-img2:hover{
    background-image:url(../img/3080.jpeg);
    background-size: 200px;
}
#rtx-img3:hover{
    background-image: url(../img/3070.png);
    background-size: 200px;
}

/* END HOVER SECTION */

#img1{
    background-image: 
    linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.8)),
    url(../img/img-1.jpg); 
}
#img2{
    background-image: 
    linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.8)),
    url(../img/banner-2.jpg); 
}
#img3{
    background-image: 
    linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.8)),
    url(../img/img-3.jpg); 
}
#rtx-img1{
    background-image: 
    linear-gradient(rgba(0,0,0,0.1), rgba(82, 255, 2, 0.2)),
    url(../img/nvidia-conti-640x342.jpg); 
}
#rtx-img2{
    background-image: 
    linear-gradient(rgba(0,0,0,0.1), rgba(82, 255, 2, 0.2)),
    url(../img/849056.jpeg); 
}
#rtx-img3{
    background-image: 
    linear-gradient(rgba(0,0,0,0.1), rgba(82, 255, 2, 0.2)),
    url(../img/nvidia1200.jpg); 
}

